* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: beige;
    height: 100px;
    padding-top: 30px;
}

h1 {
    color: orange;
    text-align: center;
}

div {
    width: 302px;
    border: solid 1px orange;
    display: inline-block;
    margin: 20px;

}


img{
    width: 300px;
    display: block;
}

span{
    background-color: yellow;
}

footer {
    background-color: blanchedalmond;
    height: 60px;

}

li {
    
    width: 50px;
    border: solid 1px black;
    margin-left: 50px;
    list-style: none;
    text-align: center;
    /*display: inline-block;*/

}


